.button {
  display: block;
  width: 100%;
  color: $color-default-white;
  font-family: $oswald;
  background-color: $color-apple;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $color-limeade;
  }

  &:active {
    color: rgba($color-default-white, 0.3);
  }
}
