.catalog {
  margin-bottom: 27px;
  padding-top: 28px;
  padding-bottom: 20px;
  border-bottom: 1px solid $color-very-light-grey;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding-top: 49px;
    padding-bottom: 67px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
    padding-bottom: 75px;
  }
}

.catalog__title {
  margin: 0;
  margin-bottom: 41px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 117px;
  }

  @media (min-width: $desktop-width) {
    font-size: 60px;
    line-height: 1;
    margin-bottom: 120px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 96px 8.5%;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 98px 6.5%;
  }
}

.catalog__item {
  padding: 20px 0 20px 0;
  margin-bottom: 5px;
  border-top: 1px solid $color-whisper;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(
      to bottom,
      transparent 45px,
      $color-white-smoke 45px
    );
    padding: 0 11.7% 40px 11.8%;
    margin: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0 16.1% 40px 16.4%;
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 1.25;
  padding: 10px;
  background-color: $color-white-smoke;
  color: $color-charcoal;

  &:hover {
    background-color: $color-whisper-dark;
  }

  &:active {
    background-color: $color-whisper-dark;
    color: $color-charcoal;
    opacity: 0.3;
  }
}

.catalog__more {
  padding: 79px 0 0 0;
  margin-bottom: 0;
  position: relative;
  border-top: 1px solid $color-white-smoke;

  @media (min-width: $tablet-width) {
    margin-top: 46px;
    background: none;
    padding: 159px 11% 35px 11%;
    background-color: $color-default-white;
    border: 2px solid $color-white-smoke;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 15% 38px 14%;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/catalog/plus-mobile.svg");
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    top: 25px;
    left: 50%;
    transform: translateX(-50%) translateZ(0);

    @media (min-width: $tablet-width) {
      background-image: url("../img/catalog/plus-tablet.svg");
      width: 60px;
      height: 60px;
      top: 47px;
    }
  }
}

.catalog__title-more {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: $color-black;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 7px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1.1;
    width: 134px;
    margin: 0 auto 22px;
  }
}

.catalog__subtitle-more {
  margin: 0;
  font-family: $Arial;
  font-size: 12px;
  text-align: center;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin: 0 auto 87px;
    max-width: 170px;
  }
}
