.collaboration__item {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 59px 40px 59px;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-default-white;
    max-width: 564px;
    position: relative;
    z-index: 2;
    padding: 61px 74px 58px 80px;
  }
}

.collaboration {
  background-color: $color-default-white;
}

.collaboration__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  max-width: 139px;
  text-transform: uppercase;
  flex: 0 0 50%;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.3;
    max-width: 161px;
  }
}

.collaboration__adress-text {
  margin: 3px 0 0 0;
}

.collaboration__adress {
  max-width: 139px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-style: normal;
  line-height: 1.36;
  color: $color-charcoal;
  flex: 0 0 50%;

  @media (min-width: $tablet-width) {
    max-width: 160px;
    text-align: right;
    font-size: 16px;

    .collaboration__adress-text {
      margin: 12px 0 0 0;
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.collaboration__wrapper {
  position: relative;
  background-color: $color-default-white;

  @media (min-width: $desktop-width) {
    padding-top: 95px;
    padding-bottom: 107px;
  }
}

.collaboration__wrapper--grey {
  background-color: $color-white-smoke;
}

.collaboration__map {
  display: block;
  background-image: url("../img/background/location.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 362px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/location@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/location-tablet.jpg");
    min-height: 400px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/location-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/location-desktop.jpg");
    position: absolute;
    top: 0;
    width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/background/location-desktop@2x.jpg");
    }
  }
}

.collaboration__iframe {
  border: none;
  height: 362px;
  display: block;

  @media (min-width: $tablet-width) {
    min-height: 400px;
  }
}

.collaboration__adress-empty-text {
  margin: 14px 0 0 0;
}
