.footer {
  background-color: $color-white-smoke;
}

.footer__logo {
  text-align: center;
  margin-bottom: 32px;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__social-item {
  padding: 10px;
}

.footer__developer-link {
  text-decoration: none;
  color: $color-charcoal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.footer__developer-title {
  font-family: $Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.footer__logo-link {
  display: block;
  padding: 39px 0 32px 0;
}

.footer__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
