.footer {
  margin-top: auto;
  padding-top: 38px;
  padding-bottom: 22px;
  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 32px;
}

.footer__social-list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 156px;

  @media (min-width: $tablet-width) {
    width: 166px;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
  }
}

.footer__developer-copyright {
  padding-top: 21px;
  border-top: 1px solid $color-gainsboro;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__developer-link {
  text-decoration: none;
  color: $color-charcoal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 0 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
  }

  &:hover {
    svg {
      fill: $color-apple;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-title {
  font-family: $Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__logo-link {
  display: block;
  padding-bottom: 31px;
  margin: 0 auto;
  border-bottom: 1px solid $color-gainsboro;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
  }

  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer__social-item {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-left: 8px;
    margin-right: 16px;
    margin-bottom: 8px;
  }
}

.footer__social-link {
  display: block;
  width: 28px;
  height: 22px;

  &:hover {
    svg {
      fill: $color-apple;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
