.footer {
  margin-top: auto;
  padding-top: 36px;
  padding-bottom: 22px;
  background-color: $color-white-smoke;

  @media (min-width: $tablet-width) {
    padding-top: 55px;
    padding-bottom: 51px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 32px;
}

.footer__social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.footer__social-item {
  padding: 17px 12px 18px 11px;

  @media (min-width: $tablet-width) {
    padding: 6px 16px 10px 9px;
  }
}

.footer__developer-copyright {
  padding-top: 21px;
  border-top: 1px solid $color-gainsboro;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.footer__developer-link {
  text-decoration: none;
  color: $color-charcoal;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    gap: 0 24px;
  }

  @media (min-width: $desktop-width) {
    gap: 22px;
  }

  &:hover {
    svg {
      fill: $color-apple;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__developer-title {
  font-family: $Arial;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}

.footer__logo-link {
  display: block;
  padding-bottom: 28px;
  margin: 0 auto;
  border-bottom: 1px solid $color-gainsboro;
  text-align: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
  }

  :hover {
    opacity: 0.8;
  }

  :active {
    opacity: 0.6;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  align-items: center;

  @media (min-width: $tablet-width) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.footer__social-link {
  &:hover {
    svg {
      fill: $color-apple;
    }
  }

  &:active {
    opacity: 0.3;
  }
}
