.header {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 13px;
    z-index: 1;
  }
}

.header__logo {
  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.header__logo-image {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 66px;
  }
}

.header__nav {
  display: none;
  width: 100%;
  margin-top: 13px;

  @media (min-width: $tablet-width) {
    width: auto;
    display: block;
    margin: 0;
  }
}

.header__nav--opened {
  display: block;
}

.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.header__nav-no-js {
  display: block;
}

.header__nav-link {
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $color-default-black;
  padding-top: 22px;
  padding-bottom: 24px;
  border-top: 1px solid #e6e6e6;
  margin-left: -20px;
  margin-right: -20px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 16px 0 11px 0;
    font-size: 18px;
    font-weight: 400;
    border: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $color-default-white;
    padding: 4px 0 8px 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__nav-item {
  @media (min-width: $tablet-width) {
    margin-left: 34px;

    &:last-child {
      margin-left: 38px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-left: 37px;

    &:last-child {
      margin-left: 35px;
    }
  }
}

.header__nav-link--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: $color-apple;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    background-color: $color-default-white;
  }
}

.header__nav-link-catalog--current::after {
  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 1px;
    background-color: #68b738;
    width: 100%;
  }
}

.header__nav-link-catalog {
  color: #000000;
}

.header__burger {
  display: block;
  width: 24px;
  height: 19px;
  border: none;
  position: relative;
  background-color: #ffffff;

  &:hover,
  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.header__burger--closed::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background-color: $color-default-black;
  box-shadow: 0 7.5px 0 0 $color-default-black,
    0 15.5px 0 0 $color-default-black;
}

.header__burger--opened {
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: #000000;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}
