.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.header__nav-link {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
}
