.input {
  font-family: $Oswald;
  color: $color-charcoal;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  width: 100%;

  &:hover {
    border-color: $color-very-light-grey;

    + .main-form__row-icon-email svg {
      stroke: $color-apple;
    }

    + .main-form__row-icon-phone svg {
      fill: $color-apple;
    }
  }

  &:focus {
    box-shadow: inset 0 0 0 2px $color-charcoal;
    outline: none;

    + .main-form__row-icon-email svg {
      stroke: $color-apple;
    }

    + .main-form__row-icon-phone svg {
      fill: $color-apple;
    }
  }
}

.input--error {
  &:focus {
    box-shadow: inset 0 0 0 2px $color-light-coral;
    outline: none;

    + .main-form__row-icon-email svg {
      stroke: $color-light-coral;
    }

    + .main-form__row-icon-phone svg {
      fill: $color-light-coral;
    }
  }
}
