.main-form__wrapper {
  padding-bottom: 32px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding: 50px 37px 73px 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 82px 0;
  }
}

.main-form__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 56px;
  }
}

.main-form__info {
  margin: 0;
  margin-bottom: 39px;
  text-transform: uppercase;
  max-width: 270px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 66px;
    max-width: 323px;
  }
}

.main-form__column {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px 80px;
    margin-bottom: 71px;
    align-items: start;
  }
}

.main-form__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  gap: 13px 0;
}

.main-form__questionnaire {
  margin-bottom: 24px;
  display: grid;
  gap: 14px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
    gap: 19px 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    gap: 19px 0;
  }
}

.main-form__questionnaire-label {
  font-size: 16px;
  color: $color-charcoal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 0 18px;
  }
}

.main-form__questionnaire-input {
  font-family: $Oswald;
  font-size: 16px;
  line-height: 18px;
  color: $color-charcoal;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 25px 11px 15px;
  border: 1px solid $color-whisper;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 10px 19px;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 16px;
  }

  &:hover {
    border-color: $color-very-light-grey;
  }

  &:focus {
    border: 2px solid $color-charcoal;
  }
}

.main-form__question {
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.main-form__fieldset {
  margin: 0;

  border: none;
  padding: 22px 0 18px 0;
  border-bottom: 1px solid $color-gainsboro;
  border-top: 1px solid $color-gainsboro;

  @media (min-width: $tablet-width) {
    border: 1px solid $color-whisper;
    padding: 23px 28px;
    gap: 13px;
    margin-bottom: 75px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.main-form__question-item {
  font-size: 16px;
  color: $color-nero;
  text-transform: uppercase;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0 15px;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 0 19px;
  }

  &:disabled {
    opacity: 0.3;
  }
}

.main-form__control {
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;
  border-radius: 50%;
  position: relative;
  order: -1;

  &:hover {
    border-color: $color-silver;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.main-form__question-input:checked + .main-form__control::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 8px;
  width: 13px;
  height: 13px;
  background-color: $color-apple;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 18px;
    height: 18px;
    top: 10px;
    left: 10px;
  }
}

.main-form__contacts {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 67px;
  }
}

.main-form__block-title {
  margin: 0;
  padding: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 77px;

    &--height {
      margin-bottom: 56px;
    }
  }
}

.main-form__block-title-text {
  margin: 0;
  display: inline-block;
  position: relative;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 1;
  }

  &--short {
    max-width: 182px;

    @media (min-width: $tablet-width) {
      max-width: 520px;
    }
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 15px;
    width: 100vw;
    height: 2px;
    background-color: $color-apple;
    right: calc(100% + 40px);

    @media (min-width: $tablet-width) {
      top: 22px;
    }
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 15px;
    width: 100vw;
    height: 2px;
    background-color: $color-apple;
    left: calc(100% + 23px);

    @media (min-width: $tablet-width) {
      top: 22px;
      left: calc(100% + 40px);
    }
  }
}

.main-form__questionnaire-text {
  flex-shrink: 0;
}

.main-form__contacts-text {
  flex-shrink: 0;
}

.main-form__contacts-label {
  text-transform: uppercase;
  font-size: 16px;
  color: $color-charcoal;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    gap: 0 20px;
  }
}

.main-form__row-icon-email {
  position: absolute;
  right: 16px;

  @media (min-width: $desktop-width) {
    right: 19px;
    top: 8px;
  }
}

.main-form__row-icon-phone {
  position: absolute;
  right: 14px;
}

.main-form__contacts-input {
  font-size: 16px;
  line-height: 18px;
  padding: 12px 50px 13px 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 50px 10px 20px;
  }
}

.main-form__row {
  margin-bottom: 24px;
  display: grid;
  gap: 14px 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 65px;
    gap: 19px 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr;
    gap: 48px 78px;
  }
}

.main-form__comment-column {
  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.main-form__comment-area {
  font-family: $Oswald;
  text-transform: uppercase;
  resize: none;
  width: 100%;
  height: 150px;
  font-size: 16px;
  line-height: 18px;
  padding: 11px 11px 12px 14px;

  @media (min-width: $tablet-width) {
    height: 175px;
    font-size: 20px;
    line-height: 30px;
    padding: 9px 19px 12px 19px;
  }
}

.main-form__supplemental {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 53px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.main-form__supplemental-list {
  padding: 0;
  margin: 0;
  border: none;
  display: grid;
  gap: 12px 0;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 32px 55px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0 80px;
  }
}

.main-form__supplemental-title {
  margin: 0;
  position: relative;
  display: inline-block;
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 57px;
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 59%;
    width: 1000%;
    height: 2px;
    background-color: $color-apple;
    right: calc(100% + 40px);
  }

  &::after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 59%;
    width: 1000%;
    height: 2px;
    background-color: $color-apple;
    left: calc(100% + 40px);
  }
}

.main-form__supplemental-label {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 16px;

  @media (min-width: $tablet-width) {
    gap: 0 19px;
    font-size: 20px;
    line-height: 30px;
  }
}

.main-form__supplemental-control {
  width: 30px;
  height: 30px;
  border: 1px solid $color-very-light-grey;
  position: relative;
  order: -1;
  cursor: pointer;

  &:hover {
    border-color: $color-silver;
  }

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.main-form__supplemental-input:checked {
  + .main-form__supplemental-control::before {
    position: absolute;
    content: "";
    background-image: url("../img/checkmark.svg");
    background-repeat: no-repeat;
    top: 6px;
    left: 5px;
    width: 18px;
    height: 18px;

    @media (min-width: $tablet-width) {
      background-image: url("../img/checkmark-tablet.svg");
      background-repeat: no-repeat;
      top: 6px;
      left: 6px;
      width: 26px;
      height: 26px;
    }
  }
}

.main-form__submit-wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    gap: 0 61px;
  }

  @media (min-width: $desktop-width) {
    gap: 0 82px;
  }
}

.main-form__submit {
  font-size: 16px;
  line-height: 20px;
  min-width: 281px;
  flex: 0;
  margin-bottom: 22px;
  padding: 10px 44px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 1;
    padding: 16px;
    min-width: 282px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 568px;
    padding: 17px 42px 17px 45px;
  }
}

.main-form__necessarily {
  margin: 0;
  font-family: $Arial;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 1;
  }
}
