.product {
  grid-template-columns: 1fr 1fr;
  display: grid;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.product__image {
  margin-top: -2px;

  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    margin-top: -28px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -34px;
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__img {
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 168px;
    height: 200px;
    align-self: center;
    margin-bottom: 8px;
  }
}

.product__link {
  text-decoration: none;
  display: block;
  max-width: 76px;

  @media (min-width: $tablet-width) {
    text-align: center;
    margin-bottom: 6px;
    max-width: 130px;
    align-self: center;
  }

  &:hover {
    transition: 0.3s;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product__title {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: $color-nero;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 21px;
    margin-bottom: 18px;
  }
}

.product__content {
  margin: 0;
  font-family: $Arial;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-bottom: 25px;
  }
}

.product__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding-bottom: 7px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 8px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 8px;
  }
}

.product__name {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__value {
  font-size: 12px;
  line-height: 16px;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__order {
  padding: 10px;
  font-size: 16px;
  line-height: 1.25;
  grid-column: 1 / -1;

  @media (min-width: $tablet-width) {
    padding: 11px;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.product__information {
  margin-bottom: 21px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: center;
    margin: 0;
  }
}
