.programs-list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }
}

.program-list__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
    margin-bottom: 71px;
  }
}

.programs-list__item {
  background-color: $color-white-smoke;
  padding: 24px 20px 18px 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding: 77px 62px 53px 52px;
  }

  @media (min-width: $desktop-width) {
    padding: 41px 51px 59px 52px;
  }
}

.programs-list__picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 200px;
    height: 200px;
  }

  @media (min-width: $desktop-width) {
    width: 100px;
    height: 100px;
  }
}

.programs-list__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programs-list__specification {
  margin: 0;
  padding: 0;
  color: #444444;
  padding-bottom: 20px;
  margin-bottom: 19px;
  font-family: $Arial;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.programs-list__link {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-default-black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  padding-right: 11px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    font-size: 20px;
    line-height: 30px;
  }
}

.programs-list__link::after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -28px;
}
