.programs-list {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 44px;
  }
}

.programs-list__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 80px;
    margin-bottom: 50px;
  }
}

.programs-list__item {
  background-color: $color-white-smoke;
  padding: 30px 20px 22px 20px;
  margin-bottom: 18px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 73px 315px 58px 52px;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 78px 51px 57px 52px;
    margin-bottom: 21px;
  }

  &--slim {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/cat-slim.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 36px;
      height: 49px;
      top: 22px;
      left: 29px;

      @media (min-width: $tablet-width) {
        background-image: url("../img/cat-slim-tablet.svg");
        top: 78px;
        right: 93px;
        left: auto;
        width: 138px;
        height: 192px;
      }

      @media (min-width: $desktop-width) {
        background-image: url("../img/cat-slim-desktop.svg");
        top: 42px;
        left: 67px;
        right: auto;
        width: 70px;
        height: 97px;
      }
    }
  }

  &--weight-gain {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/cat-weight-gain.svg");
      background-repeat: no-repeat;
      background-position: 50% 50%;
      top: 35px;
      left: 13px;
      width: 67px;
      height: 28px;

      @media (min-width: $tablet-width) {
        background-image: url("../img/cat-weight-gain-tablet.svg");
        top: 132px;
        right: 28px;
        left: auto;
        width: 268px;
        height: 112px;
      }

      @media (min-width: $desktop-width) {
        background-image: url("../img/cat-weight-gain-desktop.svg");
        top: 68px;
        left: 33px;
        right: auto;
        width: 134px;
        height: 56px;
      }
    }
  }

  &::before {
    content: "";
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $color-apple;
    position: absolute;
    top: 24px;
    left: 22px;
    background-image: none;

    @media (min-width: $tablet-width) {
      width: 200px;
      height: 200px;
      top: 89px;
      right: 62px;
      left: auto;
    }

    @media (min-width: $desktop-width) {
      width: 100px;
      height: 100px;
      top: 49px;
      left: 52px;
    }
  }
}

.programs-list__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  padding-left: 70px;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 25px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 74px;
    padding-left: 162px;
  }
}

.programs-list__specification {
  margin: 0;
  padding: 0;
  color: $color-charcoal;
  padding-bottom: 21px;
  font-family: $arial;
  border-bottom: 1px solid $color-gainsboro;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    border: none;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 6px;
  }
}

.programs-list__link {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-default-black;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  padding-right: 39px;

  @media (min-width: $tablet-width) {
    padding-right: 51px;
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover {
    &::after {
      padding-right: 19px;
      transform: translateY(-50%) scaleX(1.4);
    }
  }
}

.programs-list__link::after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: transform 0.3s ease-in;
  transform-origin: left;
}
