.programs-list {
  margin-bottom: 20px;
}

.programs-list__item {
  background-color: #f2f2f2;
  padding: 24px 20px 18px 20px;
  margin-bottom: 20px;
}

.programs-list__picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  position: relative;
}

.programs-list__picture--slim::after {
  content: "";
  background-image: url("../img/cat-slim.svg");
  background-repeat: no-repeat;
  width: 36px;
  height: 50px;
  position: absolute;
  bottom: 3px;
  left: 7px;
}

.programs-list__picture--weight-gain::after {
  content: "";
  background-image: url("../img/cat-weight-gain.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 28px;
  position: absolute;
  top: 11px;
  left: -10px;
}

.programs-list__title {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.programs-list__specification {
  margin: 0;
  padding: 0;
  color: #444444;
  padding-bottom: 20px;
  margin-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;
  font-family: "Arial", "Helvetica", sans-serif;
}

.programs-list__link-item {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.programs-list__link {
  width: 134px;
  position: relative;
}

.programs-list__link::after {
  content: "";
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  width: 24px;
  height: 12px;
  position: absolute;
  top: 3px;
  right: 10px;
}
