.container {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-left: 40px;
    padding-right: 40px;
    max-width: 1300px;
  }
}
