//----default-colors----//

$color-default-black: #000000;
$color-default-white: #ffffff;

//----colors----///

$color-charcoal: #444444;
$color-nero: #222222;
$color-white-smoke: #f2f2f2;
$color-apple: #68b738;
$color-gainsboro: #d9d9d9;
$color-very-light-grey: #cdcdcd;
$color-whisper: #e7e7e7;
$color-black: #111111;
$color-limeade: #5eaa2f;
$color-silver: #bababa;
$color-dim-grey: #666666;

//----Fonts----//

$Oswald: "Oswald", "Arial", sans-serif;
$Arial: "Arial", "Helvetica", sans-serif;

//----Viewports----//
$tablet-width: 768px;
$desktop-width: 1024px;
